{{!--
Re-usable card for linking to posts
--}}

<article class="flex {{post_class}} {{#if feature_image}}with-image{{else}}no-image{{/if}}">
    {{#if feature_image}}
    <div class="w-2/3 rounded overflow-hidden">
        <img class="object-cover object-center w-full" srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 1000px) 400px, 700px"
            src="{{img_url feature_image size="m"}}" alt="{{title}}" />
    </div>
    {{/if}}
    <div class="w-1/3 px-16">
        <div class="gh-card-meta">
            <div class="gh-card-meta__left">
                {{#primary_tag}}
                <a href="{{url}}" class="tag-badge-link tag-badge-link--{{slug}}" style="background-color: {{accent_color}};"><span>{{name}}</span></a>
                {{/primary_tag}}
                <span class="bull">&bull;</span>
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                <span class="bull">&bull;</span>
                {{reading_time minute=(t "1 min read") minutes=(t "% min read")}}
            </div>
            {{#if featured}}
                <div class="gh-card-meta__right">
                    &#9733; {{{t "Featured" }}}
                </div>
            {{/if}}
        </div>
        <a class="gh-card-link" href="{{url}}">
            <h2 class="gh-card-title">{{title}}</h2>
            <p>{{excerpt}}</p>
        </a>
    </div>
</article>